* {box-sizing: border-box;}

.lista{
  /* Saco las bolitas de costado de la lista*/
  list-style-type:none;
  padding: 0px;
}

.entradas{
  /*Genero la linea que se ve debajo*/
  border-bottom:1px solid #000;

}

section{
  /*Floto todos los elementos que se encuentran dentro de la seccion*/
  float: right;
  padding: 15px;
  background-color:#FAB95B;

  /*Aca genero la linea del medio*/
  border-left: 1px solid;
  width: 610px;
}

 body{
   width:960px;
   margin:0px auto;
 }

div{
  width:15px;
  height:30px;
  border:1px solid;
}
nav{
  float:left;
  padding:15px;
  background-color:#71A0A5;
  width: 300px;
  line-height: 40px;
  font-family: sans-serif;
}

main{
  overflow: hidden;
}

header{
  padding-bottom:20px;
  border:1px solid;
  background-color: #BFCD7E;
}

footer{
  background-color: green;
  padding:20px;
}

footer ul li{
  float:right;
}
.entrada{
  float:right;
}

main section h3{
  font-family: sans-serif;
}
