* {box-sizing: border-box;}

.lista{
  list-style-type:none;
}

h2{
  border-bottom:1px solid #000;

}

section{
  float: right;

}

 body{
   width:900px;
   margin: auto;
 }

div{
  width:15px;
  height:30px;
  border:1px solid;
}
nav{
  float:left;
}

main{
  overflow: hidden;
}
